  <footer>
  <div class="footer">
  {{ with .Site.Params.footer }}
  <div class="copyright">
  {{ . | markdownify }}
  </div>
  {{ end }}
  <div>
  {{ range .Site.Menus.icons }}
  <a href="{{ .URL | relURL }}"><svg viewBox="0 0 16 16"><use xlink:href="#icon-{{ .Post }}"></use></svg></a>
  {{ end }}
  </div>
  </div>
  </footer>
  <script async src="{{ "/js/fix-url.js" | relURL }}"></script>
  <script async src="//yihui.name/js/center-img.js"></script>
  <script async defer src="//buttons.github.io/buttons.js"></script>
  {{ template "_internal/google_analytics.html" . }}
  </body>
</html>
