/* overall layout */
body {
  margin: 0 auto 0;
  line-height: 1.5em;
}
.container, .menu ul, .footer, main {
  max-width: 1100px;
  margin: 0 auto 0;
}
.menu, .container, .footer, main { padding: 0 1em 0; }
main {
  display: block;
  padding: 1em;
}

/* header and footer areas */
.menu { box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.1); }
.menu li, .terms-list li { display: inline-block; }
.article-meta {
  background: #f8f8f8;
  margin-top: 1.5em;
}
footer { background: #75aadb; }
.menu ul { padding: 1em 0 1em; }
.article-meta, .menu a {
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}
.menu a, .article-meta a { color: #71a5d4; }
.menu a:hover, .menu .active { background: #f8f8f8; }
.menu, .article-meta, .single h2 { text-align: center; }
.menu ul, .terms-list { padding-left: 0; }
.menu .left { float: left; }
.menu .right { float: right; }
.menu .icon span { font-size: 1.3em; }
.menu .icon a:hover { background: none; }
.menu svg, .list-meta svg, .footer svg { width: 1em; }
.menu img, .menu svg { vertical-align: middle; }
.menu .left img { height: 2em; }
.menu .left { font-weight: 600; }

.title {
  font-size: 1.1em;
  line-height: 1em;
}
.terms { font-size: .9em; }
.footer {
  display: flex;
  justify-content: space-between;
}
.footer a { text-decoration: none; }
footer {
  padding: 1em 0 1em;
  margin-top: 1em;
}
footer svg { padding: .1em; }

hr {
  border-style: dashed;
  color: #ddd;
  width: 50%;
  box-sizing: border-box;
}
.footnotes hr { margin-left: 0; }

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code {
  background: #f9f9f9;
  hyphens: none;
}
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
svg { fill: currentColor; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}
.categories {
  text-transform: uppercase;
  font-size: .8em;
}
.item-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.list-meta {
  display: flex;
  justify-content: space-between;
}
.article-list {
  margin-top: 1em;
  width: 48%;
  box-shadow: 0 0 8px #ccc;
  box-sizing: border-box;
  padding: 1em;
  position: relative;
}
.article-list a, .footer a {
  text-decoration: none;
  color: #000;
}
.article-list h1 a {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.article-list h1 a:hover {
  color: #71a5d4;
  white-space: initial;
}
.article-list h1 {
  margin: 5px auto 10px;
  line-height: initial;
}
.article-list .author {
  border-bottom: 1px solid #ddd;
  font-size: 1em;
}
.summary { margin-top: .5em; }
.summary::after {
  content: "";
  clear: both;
  display: table;
}
.book-number {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: .5em;
  font-size: .9em;
}
.footer, .footer a { color: #fff; }
.more { font-style: italic; }

.thumbnail {
  height: 6.9em;
  width: 4.5em;
  float: left;
  overflow: hidden;
  margin: auto 1em .1em auto;
  box-shadow: 0 0 8px #666;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home .thumbnail {
  height: 13.8em;
  width: 9em;
}
.single h2 { padding: 1em 0;}

table {
  margin: 1em auto auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
tr:nth-child(even) { background: #eee }

/* responsive */
@media (max-width: 900px) {
  .container { display: block; }
}
@media (max-width: 800px) {
  .menu .left, .menu .right { float: none; }
  .menu .icon span { font-size: 1em; }
  .menu .left { display: none; }
  .menu .left:first-child { display: inline-block; }
  li.optional { display: none; }
  body { padding: initial; }
  main { padding: 0 .5em 0; }
  .article-list { width: 100%; }
  .article-list h1 a { white-space: initial; }
}
@media (max-width: 650px) {
  .menu .left span, .thumbnail { display: none; }
  .menu .left img { height: 1em; }
  .menu ul { display: table-row; }
  .menu .left:first-child, .menu .right { display: table-cell; }
  .menu .active { background: none; }
  .menu, .footer { padding: .5em 1em; }
}
